.about-us{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
}

/* ================ BREAKPOINS ===============*/
/* For large devices  */
@media screen and (max-width: 992px) {
    .about-us{
        margin: 4rem 2rem;
        text-align: start;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    
  }
  
  @media screen and (max-width: 576px) {
    
  }
  
  /* For small devices */
  @media screen and (max-width: 450px) {
   
  }