@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@300&display=swap');

.hero-section{
    height: 50vh;
    /* background-color: rgb(255, 155, 118); */
    background-image: linear-gradient(
      115deg,
      #ff715ebc,
      #fef8f537
    ),
    url("../../assest/hero-section.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero-text{
    font-size: 5rem;
    color: whitesmoke;
    font-weight: 700;
}

/* ================ BREAKPOINS ===============*/
/* For large devices  */
@media screen and (max-width: 992px) {
    
}

/* For medium devices */
@media screen and (max-width: 768px) {

    
}

@media screen and (max-width: 576px) {
    .hero-text{
        font-size: 4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {}