li{
    list-style: none;
}

a{
    color: black;
}

h3{
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
}

/* ================ Footer Info ===============*/
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #fef8f5;
    color: black;
    gap: 2rem;
    padding: 5rem 1rem;
}

.footer-logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.footer-logo img{
    width: 4rem;
    border-right: 2px solid black;
}

.footer-logo-text{
    display: flex;
    flex-flow: column nowrap;
    gap: .2rem;
    font-weight: 900;
}

.footer-info{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.footer-social-link{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.footer-social-link i{
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: .5rem;
}

/* ================ Quick Links ===============*/
.footer-quick-link ul{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: .5rem;
    margin-top: 1rem;
}

.footer-quick-link i{
    font-size: 1.5rem;
}

.quick-link{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* ================ Contact Info ===============*/
.footer-contact ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-top: 1.1rem;
}

.footer-contact a {
    display: flex;
    flex-flow: row nowrap;
    gap: .7rem;
    justify-content: flex-start;
    align-items: center;
}

.footer-contact i {
    font-size: 1.3rem;
}

.footer-copyrigth{
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

/* ================ BREAKPOINS ===============*/
  /* For large devices  */
@media screen and (max-width: 992px) {
    .footer{
        grid-template-columns: repeat(2,1fr);
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
  }
  
  @media screen and (max-width: 576px) {}
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    
  }