.testimonials{
    height: 70vh;
}

.carosel{
    max-width: 996px;
    margin: 0 auto;
}

.client-card{
    height: 100%;
    max-width: 556px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    margin-bottom: var(--mb-3);
}

.client-card:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
}

.client-message{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.client-name,
.client-post{
    font-size: var(--small-font-size);
}

.client-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

/* ================ BREAKPOINS ===============*/
/* For large devices  */
@media screen and (max-width: 992px) {
    .carosel{
        max-width: 900px;
        margin: 0 auto;
    }

    .testimonials{
        margin-left: 2rem;
        margin-right: 2rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .carosel{
        max-width: 700px;
        margin: 0 2rem;
    }

    .testimonials{
        margin-left: 2rem;
        margin-right: 2rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .carosel{
        max-width: 750px;
        margin: 0 2rem;
    }

    .testimonials{
        margin-left: 2rem;
        margin-right: 2rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    
  }